<sidebar></sidebar>

<dashnav></dashnav>

<main class="getting-started match">
  <!-- <h1>Match</h1> -->
  <div class="welcome">
    <div class="welcome-cont">
      <div class="match-cont">
        <div class="movie-poster">
          <img movie-details ng-src="{{recommendedMovie.posterUrl}}" />
          <span class="overlay"><span show-movie-details class="glyphicon glyphicon-info-sign movie-details" aria-hidden="true"></span></span>
        </div>
        <div class="rating-cont">
          <ul>
            <a ng-click="addToUnseen(recommendedMovie)"><span class="glyphicon glyphicon-eye-close not-seen" aria-hidden="true"></span></a>
            <a ng-click="addToWatchlist(recommendedMovie)"><span add-to-watchlist-match  class="glyphicon glyphicon-plus watchlist" aria-hidden="true"></span></a>
            <div class="added-to-watchlist-match">
              <span>Added To Watchlist</span>
            </div>
            <li><a id="rateOne" ratings ng-click="addToRatedOne(recommendedMovie)"><img src="http://159.203.169.243/images/matchflick-emblem100x134.png" alt="" /></a></li>
            <li><a id="rateTwo" ratings ng-click="addToRatedTwo(recommendedMovie)"><img src="http://159.203.169.243/images/matchflick-emblem100x134.png" alt="" /></a></li>
            <li><a id="rateThree" ratings ng-click="addToRatedThree(recommendedMovie)"><img src="http://159.203.169.243/images/matchflick-emblem100x134.png" alt="" /></a></li>
            <li><a id="rateFour" ratings ng-click="addToRatedFour(recommendedMovie)"><img src="http://159.203.169.243/images/matchflick-emblem100x134.png" alt="" /></a></li>
            <li><a id="rateFive" ratings ng-click="addToRatedFive(recommendedMovie)"><img src="http://159.203.169.243/images/matchflick-emblem100x134.png" alt="" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="loading" ng-show="loading">
    <img src="http://loading.io/loader/?use=eyJzaXplIjo5Miwic3BlZWQiOjIsImNiayI6InJnYmEoMjU1LDI1NSwyNTUsMCkiLCJjMSI6IiNGQzcxMDAiLCJjMiI6IiNmZmZmZmYiLCJjMyI6IjYwIiwidHlwZSI6InJpbmctYWx0In0=" alt="" />
  </div>
</main>
<movie-details-template></movie-details-template>
