body {
  background-color: #181818;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
  text-align: left;
  margin: 20px 0;
}

p {
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 14px;
  color: #ddd;
}

a {
  color: #FC7100;
  text-decoration: none;
  cursor: pointer;
}

b, strong {
  font-weight: bold;
}

button.default {
  font-size: 18px;
  border: 0;
  border-bottom: 4px solid #FF4F09;
  padding: 12px 22px;
  color: #fff;
  background-color: #FC7100;
  border-radius: 3px;
}

button:disabled {
  /*background-color: #ccc;*/
  opacity: .5;
  cursor: not-allowed;
}

button:focus, input:focus {outline:0;}

ui-view, navbar, sidebar, dashnav, fav-search-results {
  display: block;
}

nav {
  padding: 15px;
  background: #282828;
}

nav > img.logo {
  width: 250px;
}

div.user {
  float: right;
}

main.getting-started {
  width: 100%;
  height: calc(100vh - 82px);
  display: table;
}

main.getting-started div.welcome {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

main.getting-started h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

main.getting-started h4 {
    font-size: 20px;
    padding: 0 150px;
    font-weight: 300;
}

main.getting-started button.default {
  width: 200px;
  margin: 35px 15px 0;
}

sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  background-color: #282828;
}

sidebar img.logo {
  width: 100%;
  padding: 15px 15px 35px 15px;
}

sidebar div.logo-cont {
  border-bottom: 1px solid #000;
}

sidebar img.match {
  width: 16px;
}

sidebar > ul > li {
  border-bottom: 1px solid #000;
}

sidebar > ul > li > a > span {
  margin-right: 10px;
}

sidebar span.match {
  margin-right: 6px;
}

sidebar > ul > li > a {
  width: 100%;
  padding: 15px 4px 15px 15px;
  display: block;
  color: #fff;
  transition: all ease .2s;
}

sidebar > ul > li > a:hover {
  background-color: #2d2d2d;
  text-decoration: none;
  color: #FC7100;
}

sidebar > ul > li > a.active {
  border-left: 4px solid #FC7100;
  background-color: #2d2d2d;
}

dashnav {
  width: calc(100% - 220px);
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
}

div.user-info img.profile {
  border-radius: 50%;
  height: 40px;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

div.user-info p {
  display: inline;
  vertical-align: middle;
}

div.user-info {
  float: right;
}

main.dashboard {
  width: calc(100% - 220px);
  float: right;
  padding: 20px;
}

section.dashboard-header {
  padding: 50px  0;
}

main.getting-started h1.top-five {
  font-size: 38px;
  margin-bottom: 25px;
}

div.welcome-cont {
  width: 800px;
  margin: 0 auto;
}

div.top-movie-search {
  position: relative;
  padding-bottom: 100px;
  min-height: 422px;
}

div.top-movie-search span.search-icon {
  position: absolute;
  top: 17px;
  left: 20px;
  font-size: 24px;
  color: #A9A9A9;
}

div.top-movie-search input {
  width: 100%;
  padding: 20px 20px 20px 70px;
  border-radius: 20px;
  border: 0;
  background-color: #282828;
  color: #A9A9A9;
  margin-bottom: 30px;
}

button.search {
  color: #A9A9A9;
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top:20px;
}

button.gs-btn {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

div.search-results {
  width: 800px;
  height: 270px;
  overflow: scroll;
  background: #282828;
  position: absolute;
  top: 42px;
  z-index: 2;
  display: none;
  margin: auto;
  left: 0;
  right: 0;
  top: 67px;
  bottom: 0;
}

div.search-results ul {
  text-align: left;
}

.show {
  display: block;
}

li.search-results {
  margin: 20px;
  display: inline-block;
  min-height: 228px;
}

li.search-results > a > img {
  width: 150px;
  height: 225px;
}

ul.top-five-results {
  text-align: left;
}

ul.top-five-results > li {
  display: inline-block;
  margin: 10px;
  position: relative;
}

ul.top-five-results > li > img {
  width: 140px;
  height: 210px;
}

img.loading {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

span.remove-from-top-five {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 30px;
  background-color: rgba(0,0,0,.7);
  padding-top: 85px;
  visibility: hidden;
  text-align: center;
}

span.trash {
  transition: .2s ease all;
}

span.trash:hover {
  transform: scale(1.4);
}

div.movie-poster > img {
  width: 350px;
  border: 8px solid #282828;
  border-bottom: none;
}

div.rating-cont {
  background: #282828;
  padding: 10px;
  width: 350px;
  margin: -3px auto 0;
  position: relative;
}

div.rating-cont ul li {
  display: inline-block;

}

div.rating-cont img {
  width: 20px;
  filter: grayscale(100%);
}

div.rating-cont img.rate-color {
  filter: grayscale(0%);
}

div.rating-cont span.not-seen {
  position: absolute;
  top: 15px;
  left: 13px;
  font-size: 20px;
  color: #929292;
}

div.rating-cont span.watchlist {
  position: absolute;
  top: 15px;
  right: 13px;
  font-size: 20px;
  color: #929292;
}

div.match-cont div.movie-poster {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

div.movie-poster span.overlay {
  position: absolute;
  margin: auto;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 3px;
  font-size: 50px;
  background-color: rgba(0,0,0,.4);
  visibility: hidden;
  text-align: center;
  padding-top: 250px;
}

span.movie-details {
  transition: .2s ease all;
}

span.movie-details:hover {
  transform: scale(1.4);
}

div.movie-details {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  z-index: 9;
  top: 0;
  background-color: #282828;
  padding: 25px;
  overflow: hidden;
}

div.movie-details span.close-details {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  transition: .2s ease all;
}

div.movie-details span.close-details:hover {
  transform: scale(1.2);
}

div.movie-details div.details {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: calc(100% - 285px);
  padding: 0 15px;
  overflow: scroll;
}

div.movie-details div.movie-details-poster {
  display: inline-block;
  position: relative;
}

div.movie-details div.movie-details-poster img {
  width: 280px;
}

div.movie-details h1 {
  font-size: 40px;
  margin-bottom: 12px;
}

div.movie-details p {
  margin-bottom: 10px;
}
div.movie-details p.genres {
  font-size: 14px;
  color: #979797;
}

div.movie-details ul.cast {
  width: 100%;
  height: 310px;
  padding: 15px;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #333;
}

div.movie-details ul.cast p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: normal;
  display: table-cell;
  vertical-align: middle;
}

div.movie-details ul.cast > li {
  display: inline-block;
  width: 140px;
  vertical-align: top;
  margin-right: 15px;
  background: #282828;
}

div.movie-details ul.cast > li > img {
  width: 140px;
  vertical-align: top;
  height: 210px;
}

div.movie-details h4 {
  font-size: 24px;
  color: #979797;
  margin-bottom: 11px;
  margin-top: 20px;
}

div.movie-details ul.cast div.info {
  height: 70px;
  padding: 0 5px;
  display: table;
  margin: 0 auto;
}

div.movie-details a.trailer {
  margin-bottom: 17px;
  transition: .2s ease all;
  display: block;
}

div.movie-details a.trailer:hover {
  text-decoration: none;
  color:#fff;
}

div.trailer-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.9);
  z-index: 12;
  display: none;
}

div#trailer-video > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

div.trailer-modal > span#close-trailer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  transition: .2s ease all;
}

div.trailer-modal > span#close-trailer:hover {
  transform: scale(1.2);
}

main.dashboard ul {
  margin-bottom: 20px;
}

main.match {
  width: calc(100% - 220px);
  height: 100vh;
  display: table;
  right: 0;
  position: fixed;
}

div.imdbStar {
  background: url(http://ia.media-imdb.com/images/G/01/imdb/images/title/title_overview_sprite-2406345693._V_.png);
  background-position: -15px -118px;
  font-size: 11px;
  height: 40px;
  line-height: 13px;
  padding: 2px 0 0 34px;
  width: 40px;
  display: inline-block;
}

div.rt-fresh {
  background: url(http://www.tomatoflix.com/static/fresh.png);
  height: 31px;
  width: 30px;
  background-size: cover;
  display: inline-block;
  margin-right: 20px;
}

div.rt-rotten {
  background: url(http://www.tomatoflix.com/static/rotten.png);
  height: 31px;
  width: 30px;
  background-size: cover;
  display: inline-block;
  margin-right: 20px;
}

img.imdb-logo {
  width: 100px !important;
  display: block;
  margin: 0 auto 8px;
}

div.movie-details-poster h6 {
  display: inline-block;
  font-size: 34px;
  vertical-align: top;
  padding-top: 5px;
}

span.out-of-ten {
  color: #5C5C5C;
  font-size: 12px;
}

p.votes {
  color: #5C5C5C;
  font-size: 15px;
  text-align: right;
}

div.imdb-wrapper {
  margin-top: 15px;
  width: 120px;
  position: absolute;
}

div.rt-wrapper {
  margin-top: 15px;
  width: 120px;
  position: absolute;
  right: 0;
}

div.rating-wrapper {
  display: inline-block;

}

img.rt-logo {
  width: 75px !important;
  display: block;
  margin: 0 auto 8px;
}

main.my-favorites {
  width: calc(100% - 220px);
  padding: 20px;
  float: right;
}

section.favorites-cont {
  margin-top: 25px;
  padding: 20px 20px 10px 20px;
  background-color: #1e1e1e;
}

ul.movies-wrapper > li {
  display: inline-block;
}

ul.movies-wrapper > li > img {
  width: 140px;
  height: 210px;
  margin: 10px;
}

section.favorites-cont > h3 {
  margin: 0 0 15px 0;
}

ul.movies-wrapper {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 20px;
}

div.flames > img {
  width: 25px;
  margin-bottom: 15px;
}

ul.watchlist {
  margin-top: 20px;
}

ul.watchlist img {
  width: 200px;
}
